<h1>this about page is under construction</h1>

<p> 

This is the about page of my alpha blog application. I am building this application to 
learn ruby on rails. So far I really like Rails and will continue to improve and build 
more projects.



</p>

<%= link_to 'go back home', root_path   %>