
<div class="jumbotron">
		<h1>Say  hello    to    Alpha    Blog</h1>
		<p id="p1">Alpha blog has now evolved into a forums application. Have a question? just ask and the community will give you an answer. Our site is greate for programmers too seek advice from more experienced people, and just the everyday person with a question. </p>
 		<p id="link"><%= link_to "Sign Up now", "#", class: "btn btn-primary btn-large" %></p>
 </div>

